*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content:center;
    padding: 40px;
}

.filtro{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 20px;
    padding: 40px 100px;
}

.resultados{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.opcion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 160px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 20px;
}


.imagen-opc{
    height: 100%;
    max-width: 300px;

}

.imagen-opc img{
    height: 100%;
    width: 100%;
    border-radius: 20px 0 0 20px;
}

.contenido{
    height: 100%;
    width: 100%;
    max-width: 280px;
    padding-top: 12px;
}

.contenido p{
    font-size: 17px;
    margin: auto;
    padding-top: 6px;
    padding-left: 50px;
}

.boton-continuar{
    height: 100%;
    width: 100%;
    max-width: 200px;
    margin: auto;
}

.boton-continuar > .boton{
    margin-top: 60px;
    margin-left: 15px;
}
