:root{
    --color-primario: #ffc300;
    --color-secundario: #516ed3;
    --texto: #1d1e1f;
    --fuente-texto: 'Poppins', sans-serif;
}


.header,.footer{
    background-color: var(--color-primario);
}

.nav-text{
    color: var(--texto);
    font-weight: bold;
    font-family: var(--fuente-texto);
    text-align: center;
}

.fuente{
  font-family: var(--fuente-texto);
  text-align: justify;
}

.carousel-principal img {
    width: 100%;
    max-height: 550px;
}

.consejos{
    text-decoration:none;
    color: black;
  }
  
  .consejos:hover{
    box-shadow: 2px 2px 5px #999;
    color: black;
    text-decoration:none;
    border-radius: 30px;
  }

  .detalleVuelo{
    background-color: #E5E5E5;
    color: black;
    border-radius: 30px;
  }
  .select{
    border-color: white;
  }
  .ocupado:focus{
    background-color: rgb(245, 110, 110);
  }

  .btn:focus{
    background-color: #516ed3;
  }

  